---
---
.archive_year {
    font-size: 200%;
    text-align: center;
}

.archive_month {
    font-size: 120%;
    text-align: center;
}

.archive_day {
    font-size: 100%;
    text-align: center;
}

