<!DOCTYPE HTML>
<!--
Spectral by HTML5 UP
html5up.net | @n33co
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Zanshin - {{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ site.base_url }}/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ site.base_url }}/assets/css/main.css" />
    <link rel="stylesheet" href="{{ site.base_url }}/assets/css/archives.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ site.base_url }}/assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ site.base_url }}/assets/css/ie9.css" /><![endif]-->

    <link rel="alternate" type="application/rss+xml" href="{{ site.base_url }}/atom.xml" title="RSS feed">
</head>
{% if page.landing %}
<body class="landing">
{% else %}
<body>
{% endif %}

    <!-- Page Wrapper -->
        <div id="page-wrapper">

            <!-- Header -->
                <header id="header">
                    <h1><a href="{{ site.base_url }}/#main">Zanshin</a></h1>
                    <nav id="nav">
                        <ul>
                            <li class="special">
                                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                                <div id="menu">
                                    <ul>
                                        <li><a href="{{ site.base_url }}/#main">Home</a></li>
                                        <li>
                                            <a href="{{ site.base_url }}/news/">Announcements</a>&nbsp;&nbsp;
                                            <a href="{{ site.base_url }}/atom.xml" class="icon fa-feed"><span class="label">(feed)</span></a>
                                        </li>
                                        <li><a href="{{ site.base_url }}/features/">Features</a></li>
                                        <li><a href="{{ site.base_url }}/install/">Get It!</a></li>
                                        <li><a href="{{ site.base_url }}/join/">Join Us!</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </header>

{% if page.landing %}
            <!-- Banner -->
                <section id="banner">
                    <div class="inner">
                        <h2>Zanshin</h2>
                        <p>A powerful yet simple application<br />
                        to manage your day to day actions,<br />
                        <em>getting your mind like water</em>.</p>
                    </div>
                    <a href="#main" class="more scrolly">Learn More</a>
                </section>
{% endif %}


            <!-- Main -->
                <article id="main">
{% if page.landing == null %}
                    <header>
                        <h2>{{ page.title }}</h2>
                    </header>
{% endif %}
                    <section class="wrapper style5">
                        <div class="inner">
                            {{ content }}
                        </div>
                    </section>
                </article>

            <!-- Footer -->
                <footer id="footer">
                    <div>Zanshin is a <a href="http://www.kde.org">KDE project.
                    <img src="{{ site.base_url }}/images/kde-logo.png" alt="KDE"/></a></div>

                    <ul class="copyright">
                        <li>Copyright &copy; 2008-2016 The Zanshin Team</li>
                        <li>Design based on Spectral by <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </footer>

        </div>

    <!-- Scripts -->
        <script src="{{ site.base_url }}/assets/js/jquery.min.js"></script>
        <script src="{{ site.base_url }}/assets/js/jquery.scrollex.min.js"></script>
        <script src="{{ site.base_url }}/assets/js/jquery.scrolly.min.js"></script>
        <script src="{{ site.base_url }}/assets/js/skel.min.js"></script>
        <script src="{{ site.base_url }}/assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="{{ site.base_url }}/assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="{{ site.base_url }}/assets/js/main.js"></script>

</body>
</html>
